h2 {
  font-size: 2.5em;
  color: #212121;
}

p {
  font-weight: lighter;
  font-size: 1.8em;
  color: #616161;
  text-align: center;
}

a {
  text-decoration: none;
  color: #01579B;
}

a:hover {
  text-decoration: underline;
}