<div>
  <app-cars-search (filter)="onFilter($event)"></app-cars-search>
  <span fxFlex></span>
  <button
    mat-raised-button
    color="primary"
    (click)="activeCompare()">{{ compareBtnText }}</button>
</div>

<div *ngFor="let brand of carsData">
  <h2>{{ brand.brand_name }}</h2>
  <section class="cars-list" fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="flex-start">
    <div *ngFor="let car of brand.cars">
      <app-cars-item
        [showCheckbox]="showCheckbox"
        [brand]="brand.brand_name"
        [carInfo]="car"
        (selected)="onCarSelected($event)"></app-cars-item>
    </div>
  </section>
</div>