<main fxLayout="column">
  <a
    [routerLink]="['/cars']"
    fxLayout
    fxLayoutGap="10px"
    fxLayoutAlign="start center">
    <mat-icon aria-hidden="false" aria-label="Go back">keyboard_arrow_left</mat-icon>
    Go back
  </a>
  <div class="car-viewer">
    <header fxLayout="column" fxLayoutGap="5px">
      <div fxLayout fxLayoutGap="15px" fxLayoutAlign="start center">
        <h2 class="title">{{ brand | titlecase }} {{ carInfo.model }}</h2>
        <span class="year">{{ carInfo.year }}</span>
      </div>
      <span class="price">${{ carInfo.price | number }}</span>
    </header>
    <div class="content">
      <img [src]="carImage" alt="{{ brand | titlecase }} {{ carInfo.model }}">
      <div>
        <p class="description">{{ carInfo.description }}</p>
        <div class="specs">
          <h2>Specs</h2>
          <div
            class="specs-wrapper"
            fxLayout
            fxLayout.lt-sm="column"
            fxLayoutGap="10px">
            <div fxFlex="33" fxFlex.lt-sm="100">
              <h3>Engine</h3>
              <ul *ngFor="let spec of engineSpecs.values">
                <li>{{ spec }}</li>
              </ul>
            </div>
            <div fxFlex="33" fxFlex.lt-sm="100">
              <h3>Comfort</h3>
              <ul *ngFor="let spec of comfortSpecs.values">
                <li>{{ spec }}</li>
              </ul>
            </div>
            <div fxFlex="33" fxFlex.lt-sm="100">
              <h3>Safety</h3>
              <ul *ngFor="let spec of safetySpecs.values">
                <li>{{ spec }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>